@keyframes fadeInCity {
    0% {
        transform: translate(-50%, -50%) scale(.5);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes fromLeftSun {
    0% {
        top: 0;
        left: 0;
        opacity: .3;
    }
    100% {
        top: 8%;
        left: 56%;
        opacity: 1;
        visibility: visible;
    }
}

@keyframes fromLeftCloud {
    0% {
        top: 0;
        left: 0;
        opacity: .3;
    }
    100% {
        top: 20%;
        left: 30%;
        opacity: 1;
        visibility: visible;
    }
}


/* CSS RESET */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
}

body {
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul, ol {
    list-style: none;
}

li {
    font-size: 1.6rem;
}

/* Background blue gradient */
.bg-gradient {
    background: linear-gradient(0deg, rgba(51, 68, 135, 1) 0%, rgba(135, 204, 255, 1) 100%);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.container {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 600px;
    height: 450px;
    margin: auto;
    color: white;
}

/* Image from the city */
.city-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: url('./img/city.png');
    background-repeat: no-repeat;
    background-size: contain;
    animation: fadeInCity;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
}

/* City Name -text- */
.city {
    font-size: 1.8rem;
    font-weight: 400;
}

/* Temperature info - container */
.weather {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Temperature degrees */
.weather__temperature {
    font-size: 5.5rem;
    font-weight: 500;
}

/* Weather description */
.weather__description {
    font-size: 1.6rem;
    font-weight: 400;
}

.sun {
    width: 90px;
    height: 90px;
    position: absolute;
    filter: drop-shadow(0px 0px 5px #fffadd);
    visibility: hidden;
    animation: fromLeftSun forwards .8s .7s ease-in-out;
}

.cloud {
    width: 90px;
    height: 90px;
    position: absolute;
    visibility: hidden;
    animation: fromLeftCloud forwards .8s 1.1s ease-in-out;
}